<html>
  <head></head>
  <body onload="document.forms[0].submit()">
    <form name="PostForm" method="POST" action="<%= pgUrl %>">
      <input name="SourceApp" type="hidden" value="7729FD68-C552-4C90-B31E-98AA6C84FEBF~WEB" />
      <input name="PatientId" type="hidden" value="<%= patientId %>" />
      <input name="MarchantId" type="hidden" value="<%= merchantId %>" />
      <input name="InterBookAppointmentId" type="hidden" value="0" />
      <input name="CouponId" type="hidden" value="0" />
      <input name="GatewayName" type="hidden" value="Paytm" />
      <input name="TransactionAmount" type="hidden" value="<%= price %>" />
      <input name="ReturnURL" type="hidden" value="<%= baseUrl %>/consulttransaction" />
      <input name="CurrencyFormat" type="hidden" value="INR" />
      <input name="AuthenticationToken" type="hidden" value="<%= athsToken %>" />
      <input name="PaymentFor" type="hidden" value="PhysicalAppointment" />
      <input name="Amount" type="hidden" value="<%= price %>" />
      <input name="EmailId" type="hidden" value="" />
      <input name="PhoneNo" type="hidden" value="<%= mobileNumber %>" />
      <input name="PatientName" type="hidden" value="<%= patientName %>" />
    </form>
  </body>
</html>
