<html>
  <head> </head>
  <body>
    <form action="https://test.payu.in/_payment" method="post">
      <input type="text" name="firstname" value="<%= firstName %>" />
      <input type="text" name="lastname" value="<%= lastName %>" />
      <input type="text" name="surl" value="<%= baseUrl %>/diagnostic-pg-success" />
      <input type="text" name="phone" value="<%= mobileNumber %>" />
      <input type="text" name="key" value="gtKFFx" />
      <input type="text" name="hash" value="<%= hash%>" />
      <input type="text" name="curl" value="<%= baseUrl %>/diagnostic-pg-cancel" />
      <input type="text" name="furl" value="<%= baseUrl %>/diagnostic-pg-error" />
      <input type="text" name="txnid" value="APL-<%= orderId %>" />
      <input type="text" name="productinfo" value="APOLLO247" />
      <input type="text" name="amount" value="<%= totalPrice %>" />
      <input type="text" name="email" value="<%= emailAddress %>" />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
