<html>
  <head> </head>
  <body onload="document.forms[0].submit()">
    <form action="https://test.payu.in/_payment" method="post">
      <input type="hidden" name="firstname" value="<%= firstName %>" />
      <input type="hidden" name="lastname" value="<%= lastName %>" />
      <input type="hidden" name="surl" value="<%= baseUrl %>/diagnostic-pg-success-url" />
      <input type="hidden" name="phone" value="<%= mobileNumber %>" />
      <input type="hidden" name="key" value="gtKFFx" />
      <input type="hidden" name="hash" value="<%= hash%>" />
      <input type="hidden" name="curl" value="<%= baseUrl %>/diagnostic-pg-cancel-url" />
      <input type="hidden" name="furl" value="<%= baseUrl %>/diagnostic-pg-error-url" />
      <input type="hidden" name="txnid" value="APL-<%= orderId %>" />
      <input type="hidden" name="productinfo" value="APOLLO247" />
      <input type="hidden" name="amount" value="<%= totalPrice %>" />
      <input type="hidden" name="email" value="<%= emailAddress %>" />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
